.container{
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1.5rem;
  grid-row-gap: 3rem;
  background-color: blueviolet;
  
}


.liDominio{
  font-size: 1.5rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0.9rem;
  text-align:left;
text-align: center;
}

