.container{
    -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}


@-webkit-keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D;
            box-shadow: 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #0F123D, 2px -2px #0F123D, 3px -3px #0F123D, 4px -4px #0F123D, 5px -5px #0F123D, 6px -6px #0F123D, 7px -7px #0F123D, 8px -8px #0F123D;
            box-shadow: 1px -1px #0F123D, 2px -2px #0F123D, 3px -3px #0F123D, 4px -4px #0F123D, 5px -5px #0F123D, 6px -6px #0F123D, 7px -7px #0F123D, 8px -8px #0F123D;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D;
            box-shadow: 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D, 0 0 #0F123D;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #0F123D, 2px -2px #0F123D, 3px -3px #0F123D, 4px -4px #0F123D, 5px -5px #0F123D, 6px -6px #0F123D, 7px -7px #0F123D, 8px -8px #0F123D;
            box-shadow: 1px -1px #0F123D, 2px -2px #0F123D, 3px -3px #0F123D, 4px -4px #0F123D, 5px -5px #0F123D, 6px -6px #0F123D, 7px -7px #0F123D, 8px -8px #0F123D;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}
