.containerSearch {
    background-color: rgba(237, 243, 249, 0.701);
    padding-top: 8rem;
    padding-bottom: 2rem;
    display: grid;
    justify-content: center;
    align-items: center;
   box-shadow: 3px 3px 3px 3px rgba(21, 10, 103, 0.3) ;
  
   
}

.inputSearch {
    display:inline-flex;
}
.inputResults {
    position: relative;
    
}
.results {
background-color: black;
color: aliceblue;
font-weight: 800;
font-size: smaller;
width: 100%;
position:absolute;
top:100vh;


}
.placeholder {
    width: 70rem;
    height: 4rem;
    color:rgb(120, 120, 120);
    font-size: 1.5rem;
   border-radius: 2rem;
    padding-left: 2rem;
    
    

}
.icon{
    
    padding-inline: 1.5rem;
   
 


}